body {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
table {
    width: 100%;
    font: 17px Calibri;
}

table,
th,
td {
    border: solid 1px #000;
    border-collapse: collapse;
    padding: 2px 3px;
    text-align: center;
}
.form {
    margin-top: 50px;
}

.table {
    margin-top: 50px;
}